* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
}



html {
  color-scheme: dark light;
}



body {
  font-size: 16px;
  background: white;
}

.App {
  min-height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  background: white;
  z-index: 0;
}


img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}




.App {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 90rem;
    margin: 0 auto;
}
  
